* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background-image: url('/yhcufciztc.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
